[submodule "vendor"]
	path = vendor
	url = https://github.com/crosstyan/ch32v003-template
[submodule "libs/printf"]
	path = libs/printf
	url = https://github.com/eyalroz/printf
[submodule "fun"]
	path = fun
	url = https://github.com/crosstyan/ch32v003fun
[submodule "libs/etl"]
	path = libs/etl
	url = https://github.com/ETLCPP/etl
[submodule "libs/nanopb"]
	path = libs/nanopb
	url = https://github.com/nanopb/nanopb
[submodule "libs/RadioLib"]
	path = libs/RadioLib
	url = https://github.com/jgromes/RadioLib
[submodule "libs/--force"]
	path = libs/--force
	url = https://github.com/MikeLankamp/fpm
[submodule "libs/fpm"]
	path = libs/fpm
	url = https://github.com/MikeLankamp/fpm
